<h1 class="titulo">Minhas Listas</h1>

<div>


  
</div>
<%= link_to "Nova Lista", new_list_path, class:"button_newList" %>


<% if notice %>
  <div class="flash-notice">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="flash-alert">
    <%= alert %>
  </div>
<% end %>

<ul>
  <% @lists.each do |list| %>
  
    <li class="teste_container">
        <h3><%= link_to list.title, edit_list_path(list)%> </h3>

        <ul >
          <% list.items.each do |item|%>
          <li class="item">
           
            <%=item.content%>
            <% if item.done? %>
            
                <span style="color: green;">(✔️ Feito)</span>
            <% else %>
                <span style="color: red;">(❌ Pendente)</span>
            <% end %>
            
            <%end%>
          </li>
        </ul>
      <li>

      
     <%= link_to raw('<i class="fas fa-pencil-alt"></i>'), list_path(list), class: "edit-icon" %> |
      <%= link_to raw('<i class="fa-solid fa-trash"></i>'), list_path(list), method: :delete, data: { confirm: "Tem certeza?"}, class:"delete-icon"%>

      </li>

  


  <% end %>
</ul>
