<h1 class="titulo">Nova Lista</h1>

<% if alert %>
  <div class="flash-alert">
    <%= alert %>
  </div>
<% end %>


<div class="form-container">
  <%= form_with model: @list do |f| %>
  

    <div class="field-group">
      <%= f.label :title, "Nome da Lista" %>
      <%= f.text_field :title, class: "field", required: true, placeholder: "Digite um nome para sua lista" %>
    </div>

    <%= f.submit "Criar", class: "button_criar" %>


     <div class="cancel">

  <%= link_to "Voltar", lists_path, class:"voltar" %>  
  </div>
  <% end %>
</div>