

<% if notice %>
  <div class="flash-notice">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="flash-alert">
    <%= alert %>
  </div>
<% end %>


<h2 class="titulo_item">Adicionar novo item em  <%=@list.title%></h2>
<div class="att" >

  <%= form_with model: [@list, @item] do |f| %>
  <%= f.label "Nome do item:", class:"content" %>
  <%= f.text_field :content, class:"field", required:true %>
  <%= f.label "Realizado" %> 
  <%= f.check_box :done, class:"round" %><br>
  
                     

   <%= f.submit "Criar Item", class:"button2" %>   
 
 
<% end %>

</div>


<%= link_to "Voltar", lists_path, class:"button_back" %>

<ul class="div_center">
  <h2>Itens de <%= @list.title%></h2>
  <% @list.items.each do |item| %>
  <% if item.persisted? %>
    <li>
      <%= item.content %> - <%= item.done ? "✅" : "❌" %>
      <%= link_to "Editar", edit_list_item_path(@list, item), class:"button_edit" %> |
      <%= link_to "Deletar", list_item_path(@list, item),class:"button_delete" ,method: :delete, data: { confirm: "Tem certeza?" } %>
    </li>
  <% end %>
<% end %>
</ul>