<h2 class="titulo_item_edit">Editando item de:  <%=@list.title %></h2>

<%= form_with model: [@list, @item] do |f| %>
  <div>

    <%= f.label :content, "Nome do Item:", class:"content" %>
    <%= f.text_field :content, class:"field", required:true %>
    <%= f.label :done, "Realizado?" , class:"content" %>
    <%= f.check_box :done, class:"round" %>
  </div>

  <div class="att">
   <%= f.submit "Atualizar", class:"button_att" %>    
  </div>


<% end %>



<%= link_to "Voltar para a lista", list_path(@list), class:"button_back" %>
